In [1]:
import pandas as pd

#### Task
* Group data by region and category.
* Calculate total sales and average order value.
* Sort regions by total revenue.

In [2]:
df = pd.read_csv('sales_data.csv')
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [5]:
df.groupby(['Country', 'Product_Category'])['Cost'].agg(['sum', 'mean'])

                                      sum         mean
Country        Product_Category
Australia      Accessories        1228152    90.987702
               Bikes             12115461  1715.099236
               Clothing           1182416   350.449318
Canada         Accessories         864557    84.495407
               Bikes              2584041  1669.277132
               Clothing            769844   321.035863
France         Accessories         608837    91.034240
               Bikes              4413378  1593.277256
               Clothing            530375   344.399351
Germany        Accessories         642095    98.089673
               Bikes              4505480  1478.175853
               Clothing            471026   313.182181
United Kingdom Accessories         728322    89.761154
               Bikes              4882855  1385.600170
               Clothing            621166   313.403633
United States  Accessories        2183652    87.199585
               Bikes             12761643  1589.641629
               Clothing           1956608   318.873533

In [12]:
df.groupby('Country')['Revenue'].sum().sort_values(ascending=False)

Country
United States     27975547
Australia         21302059
United Kingdom    10646196
Germany            8978596
France             8432872
Canada             7935738
Name: Revenue, dtype: int64